<!DOCTYPE html> 
<html lang="en"> 
<head> 
 	<meta charset="UTF-8"> 
 	<title>Transparent Login Form with Blur Background</title> 
 	<link 
href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&dis play=swap" rel="stylesheet"> 
 	<link href="logincss.css" rel="stylesheet"> 
</head> 
<body> 
 	<div class="idx-page contact-form"> 
        <h3><center>CHRONIC KIDNEY DISEASE PREDICTOR</center></h3>
        <p align="justify">Chronic Kidney Disease prediction is one of the most important issues in healthcare analytics. 10% of the population worldwide is affected by chronic kidney disease (CKD), and millions die each year because they do not have access to affordable treatment.</p><br>	
        <center><div class="txt"><a href="register.html">Take our CKD test now!!</a></div><br> 
        <a href="login.html">Already a member?</a></center>
 	</div> 
</body> 
</html> 
